.seccion {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}
.contenido-centrado {
    max-width: 80rem;
}

.alinear-derecha {
    display: flex;
    justify-content: flex-end;
}

.w-100 {
    width: 100%;
}